body{
    margin: 0;
    padding: 0;
    background: azure;
}
a{
    text-decoration: none;

}
.header_container, .footer_container, .content_block, .ticket_add_form, .ticket_list, .error{
    width: 1000px;
    margin: 0 auto;
    background: #A7E5E0;
    overflow: auto;
    padding: 15px
}
.button:hover, .button_form button:hover{
    color: black;
    background: rgb(253, 82, 95);
    cursor: pointer;
}
.button, .button_form button{
    width: auto;
    padding: 10px;
    background: rgb(245, 5, 23);
    color: rgb(253, 253, 252);
    font-weight: 600;
    border: none;
}
.header_container h1{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    zoom: 2;
    color: darkslategray;
}
.footer_container ul, .header_container ul{
    list-style: none;
    margin: 0 auto;
    display: block;
}
.header_container .menu_container{
    margin-left: 50px;  padding-top: 20px;
}
.header_container li{
    display: inline-block;
    float: left;
    margin-right: 10px;

}

.footer_container{
    background: #2AB872;
}
.footer_container .contact_list{
    width: 300px;
    overflow: auto;
}
.footer_container li, .header_container li{
    display: block;
}
.content_block, .ticket_add_form, .ticket_list{
    background: rgb(5, 245, 181);
}
.property{
    display: inline-block;
    margin-left: 10px;
}
.input select, .input input{
    width: 110px;
}
.property label p{
   width: 125px;
   margin: 0 0 5px;
   padding: 0;
}
fieldset, .input{
    padding: 0px;
}
legend{
    margin-left: 20px;
    font-size: 1.5em;
}
.add_ticket{
    width: 20px;    
    height: 20px;
    border: 1px solid rgb(237, 218, 17);
    background: rgb(245, 5, 23);
    font-size: 26px;
    font-weight: 900;
    color: rgb(27, 5, 160);
    margin: 10px;
    cursor: pointer;
}
.add_ticket:hover{
    border-color: rgb(245, 5, 23);
    background: rgb(237, 218, 17);
}
.add_ticket span{
    position: relative;
    bottom: 3px;
    left: 3px;
}

.button_form{
     margin: 20px 0 10px 10px;
}
.list{
    overflow: hidden;
}
.ticket_list .ticket_container{
    background: rgb(250, 249, 167);
    margin: 10px;
}
.error {
    background: #05F5B5;
}
.error ul{
    background: rgb(252, 173, 150);
    
    padding: 10px;
    list-style: none;
    border: 1px solid red;
}